<div class="row">
    <div class="col-md-12">

        <div class="alert alert-success" ng-show="success.valid">
            {{ success.message }}
        </div>


        <h1>New version of application - {{ application.title }}</h1>

        <form ng-submit="create('submitVersion');" name="versionNew" >

            <div ng-messages="versionNew.title.$error" ng-show="versionNew.title.$touched">
                <div class="alert alert-danger" ng-message="minlength">Title is too short.</div>
                <div class="alert alert-danger" ng-message="maxlength">Title is too long.</div>
                <div class="alert alert-danger" ng-message="required">Title is required.</div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': versionNew.title.$touched && versionNew.title.$invalid }">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" ng-model="version.title" value="" ng-minlength="1" ng-maxlength="255" required />
            </div>


            <div class="form-group">
                <button class="btn btn-primary" type="submit" click-once id="submitVersion">Save</button>
            </div>


        </form>
    </div>
</div>