<div class="row">
    <div class="col-md-12">

        <h1>Files of {{ version.application.title }} - {{ version.title }}</h1>
        <a href="#/apps/{{ version.application.id }}/versions/{{ version.id }}/files/new" class="btn btn-success pull-right" title=""><i class="glyphicon glyphicon-upload"></i>&nbsp;Send new file</a>
        <br /><br />
        <div style="clear: both;"></div>

        <div class="panel panel-default">

            <table class="table">
                <thead>
                <th>File</th>
                <th>File title</th>
                <th>&nbsp;</th>
                </thead>
                <tbody>
                <tr ng-repeat="file in version.files">
                    <td><a href="/apps/{{ version.application.id }}/versions/{{ version.id }}/files/{{ file.id }}/download?token={{ tokenDownload }}" title="">{{ file.filename }}</a></td>
                    <td><a href="/apps/{{ version.application.id }}/versions/{{ version.id }}/files/{{ file.id }}/download?token={{ tokenDownload }}" title="">{{ file.title }}</a></td>
                    <td align="right">
                        <a class="btn btn-sm btn-primary" href="/apps/{{ version.application.id }}/versions/{{ version.id }}/files/{{ file.id }}/download?token={{ tokenDownload }}" title=""><i class="glyphicon glyphicon-download-alt"></i>&nbsp;Download</a>
                        <button class="btn btn-sm btn-danger" type="button" click-once="Removing..." ng-click="destroyFile(version.application, version, file)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>